body {
  font-family: "Avenir";
  font-size: 1rem;
  background: #eee;
  padding: 30px;
}

header {
  background: #006298;
}

.btn-primary {
  background: #507c49;
  border-color: #406c39;
}

.btn-primary:hover {
  background: #608c59;
  border-color: #406c39;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #ffc600;
}

.content {
  padding: 2rem 1.5rem;
}

.jumbotron {
  padding: 1.5rem;
  background: 0;
}

.jumbotron img {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* img {
    max-width: 100px; 
    height: auto;
} */

img {
  width: 60%; /* Scale based on the width of the container */
  max-width: 100%; /* Never be larger than the container */
  height: auto; /* Maintain aspect ratio */
}

.unavailable {
  opacity: 0.25;
}

/* .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    gap: 10px;
}

.grid-item {
    width: 30%; 
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease;
    object-fit: contain;
    display: block;
    margin: auto;
    overflow: hidden;
}

.grid-tem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}*/

.grid-item:hover {
  transform: scale(1.05);
}

/* .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slideshow img {
    width: 80%;
    display: none;
    margin-bottom: 10px;
} */
.slideshow {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.navbar-nav {
  flex-direction: row !important;
  z-index: 1;
}

.nav-item {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.nav-link {
  padding-right: 0.5rem; /* Adjust for better spacing between links */
  color: hsl(268, 91%, 21%) !important; /* Adjust color for all navbar links */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: color 0.3s ease;
}

.nav-link:hover {
  /* color: #a057ff !important;  */
  text-shadow: 0 0 10px rgba(255, 214, 52, 0.875) !important;
}

.indented {
  text-indent: 20px;
}

#background-video {
  position: absolute;
  top: 50px;
  left: 0;
  width: 85vw;
  height: calc(100vh - 56px); /* Subtract the height of the navbar */
  object-fit: cover;
  overflow: hidden;
}
#background-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image {
  width: 100%; /* Full width of the container */
  height: auto;
  max-height: 75vh; /* Adjust based on your preference */
  object-fit: cover; /* To ensure the image covers the area nicely */
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Allows scrolling through thumbnails */
  padding: 10px 0;
}

.thumbnail {
  width: 100px; /* Fixed width for thumbnails */
  height: 75px; /* Fixed height for thumbnails */
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1); /* Slightly enlarge thumbnails on hover */
}

.grid-item {
  width: calc(33.333% - 10px); /* Three items per row with small gap */
  margin: 5px;
  height: auto;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
